name: Build Gusto

on:
  # Push to main or PR
  push:
    branches:
      - main
  pull_request:
  schedule:
    # * is a special character in YAML so you have to quote this string
    # Scheduled build at 0330 UTC on Monday mornings to detect bitrot.
    - cron:  '30 3 * * 1'

concurrency:
  # Cancels jobs running if new commits are pushed
  group: >
    ${{ github.workflow }}-
    ${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: "Build Gusto"
    # The type of runner that the job will run on
    runs-on: [self-hosted, Linux]
    # The docker container to use.
    container:
      image: firedrakeproject/firedrake-vanilla:latest
    steps:
      - uses: actions/checkout@v4
      - name: Cleanup
        if: ${{ always() }}
        run: |
          cd ..
          rm -rf build
      - name: Install Gusto
        run: |
          . /home/firedrake/firedrake/bin/activate
          python -m pip install -r requirements.txt
          python -m pip install -e .
          python -m pip install  \
            pytest-timeout pytest-xdist nbval ipympl
      - name: Gusto tests
        run: |
          . /home/firedrake/firedrake/bin/activate
          firedrake-clean
          export GUSTO_PARALLEL_LOG=FILE
          export PYOP2_CFLAGS=-O0
          python -m pytest \
            -n 12 --dist worksteal \
            --durations=100 \
            --timeout=3600 \
            --timeout-method=thread \
            -o faulthandler_timeout=3660 \
            -v unit-tests integration-tests examples
        timeout-minutes: 120
      - name: Prepare logs
        if: always()
        run: |
          mkdir logs
          cd /tmp/pytest-of-firedrake/pytest-*/
          find . -name "*.log" -exec cp --parents {} /__w/gusto/gusto/logs/ \;
      - name: Gusto jupyter_notebooks
        run: |
          . /home/firedrake/firedrake/bin/activate
          export GUSTO_PARALLEL_LOG=FILE
          python -m pytest \
            -n 4 --dist loadscope \
            --timeout=1200 \
            --timeout-method=thread \
            -o faulthandler_timeout=1260 \
            --nbval-lax \
            -v jupyter_notebooks
      - name: Upload artifact
        if: always()
        uses: actions/upload-pages-artifact@v3
        with:
          name: log-files
          path: /__w/gusto/gusto/logs
          retention-days: 5
